<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Toda Cidadã</h1>
  <p class="lead">Descricão do projeto</p>
  <hr class="my-4" />
  <p>Bla bla bla bla.</p>
  <a
    class="btn btn-primary btn-lg"
    href="/users/register"
    role="button"
  >Inscreva-se agora!</a>
</div>
<hr />
<h2>Principais postagens </h2>
{{#each posts}}
  <div class="card mt-4">
    <div class="card-body">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <a href="/post/{{slug}}">
        <button class="btn btn-success">Ler mais</button></a>

      <hr />
      <small>Categoria: {{category.name}}</small>
      <br />
      <small>Data de publicação: {{date}}</small>
    </div>
  </div>
{{else}}
  <h5>Não há postagens publicadas.</h5>
{{/each}}