<h2>Lista de cursos:</h2>
<hr />
<a href="/admin/courses/add"><button class="btn btn-success">Novo curso</button></a>

{{#each courses}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{name}}</h4>
      <small>Slug: {{slug}}</small>
      <small>Descricão: {{description}}</small>
      <small>Data de criação: {{date}}</small><br />
      <a href="/admin/courses/edit/{{_id}}"><button
          class="btn btn-success mt-4"
        >Editar curso</button></a>
      <form action="/admin/courses/delete" method="POST">
        <input type="hidden" name="id" value="{{_id}}" />
        <button type="submit" class="btn btn-danger mt-2">Excluir curso</button>
      </form>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">Não há cursos registrados</h4>

{{/each}}