{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h3>Editar curso</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/courses/edit" method="POST">
      <input type="hidden" name="id" value="{{course._id}}" />
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="course name"
        value="{{course.name}}"
        class="form-control"
        required
      />
      <label for="slug">Slug: </label>
      <input
        type="text"
        name="slug"
        id="slug"
        placeholder="course slug"
        value="{{course.slug}}"
        class="form-control"
        required
      />
      <label for="description">Descricão: </label>
      <input
        type="text"
        name="description"
        id="description"
        placeholder="course description"
        value="{{course.slug}}"
        class="form-control"
        required
      />
      <br />
      <button type="submit" class="btn btn-success">Editar curso</button>
    </form>
  </div>
</div>