{{!-- <div class="card">
  <div class="card-body">
    <h1>{{post.title}}</h1>
    <hr />
    <small>Publicado em: {{post.date}}</small>
    <br />
    <hr />
    {{post.content}}
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h1>{{post.title}}</h1>
    <hr />
    <small>Publicado em: {{post.date}}</small>
    <br />
    <hr />
    {{post.content}}
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h1>{{post.title}}</h1>
    <hr />
    <small>Publicado em: {{post.date}}</small>
    <br />
    <hr />
    {{post.content}}
  </div>
</div>

<h2>Principais postagens </h2>
{{#each posts}}
  <div class="card mt-4">
    <div class="card-body">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <a href="/post/{{slug}}">
        <button class="btn btn-success">Ler mais</button></a>

      <hr />
      <small>Categoria: {{category.name}}</small>
      <br />
      <small>Data de publicação: {{date}}</small>
    </div>
  </div>
{{else}}
  <h5>Não há postagens publicadas.</h5>
{{/each}} --}}

<div class="container">
  <div class="row align-items-start">
    <div class="col mt-4">
      <div class="card">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <hr />
          <small>Publicado em: {{post.date}}</small>
          <br />
          <hr />
          {{post.content}}
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <hr />
          <small>Publicado em: {{post.date}}</small>
          <br />
          <hr />
          {{post.content}}
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <hr />
          <small>Publicado em: {{post.date}}</small>
          <br />
          <hr />
          {{post.content}}
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col mt-4">
      <div class="card">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <hr />
          <small>Publicado em: {{post.date}}</small>
          <br />
          <hr />
          {{post.content}}
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <hr />
          <small>Publicado em: {{post.date}}</small>
          <br />
          <hr />
          {{post.content}}
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <hr />
          <small>Publicado em: {{post.date}}</small>
          <br />
          <hr />
          {{post.content}}
        </div>
      </div>
    </div>
  </div>

</div>