<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Blog Toda Cidadã</h1>
  <p class="lead">Boas vindas ao blog</p>
  <hr class="my-4" />
  <p>Bla bla bla bla.</p>
</div>
<hr />

{{#each posts}}
 <div class="card mt-2 border-light">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>

      <p>{{description}}</p>
      <a href="/post/{{slug}}">
        <button class="btn btn-dark">Ler mais</button></a>

     <hr>
      <h6 class="card-subtitle mb-2 text-muted">Categoia: {{category.name}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Publicado em: {{category.name}}
    </div>
  </div>
{{else}}
  <h5>Não há nenhuma postagem até o momento.</h5>
{{/each}}

<div>
<a href="/"><button class="btn btn-success mt-4">Voltar para a página inicial</button></a>
<br>
<br>
</div>


