


  <section class="section" id="section--2">
    <div class="header__title">
      <img
        class="advocacia-curso"
        type="image/pnj"
        src="img/capa-cargamental.png"
        alt="toda-cidada-logo"
      />
    </div>
  </section>


  <section class="section">
    <div class="course">
      {{!-- <a href="/"><button type="submit" class="btn--text btn--text--purple">Voltar para a página inicial</button></a> --}}
      <div class="course__feature course__feature--transparent">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <h5 class="course__header">
          <font color="#7a387a">
            Mulher, me responda essas perguntas: 
            <br> <br>
            Você se sente constantemente cansada com a rotina de casa?
 <br>
          Você percebe que se VOCÊ não planejar e dar direcionamentos claros sobre as tarefas domésticas na sua casa, elas não serão feitas?

<br>
          Você sente que não consegue ter tempo suficiente de qualidade para lazer/descanso?
          <br>
          Você se sente sobrecarregada na maior parte do tempo?
<br>
Você se sente culpada quando faz pausas nas atividades domésticas porque está sobrecarregada e precisa descansar? 

</h5>
          </font>
      </div>
      <div class="course">
      <div class="course__feature course__feature--color">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <h5 class="course__header">
          Se você respondeu “sim” para ao menos uma dessas perguntas, está imersão é para você! <br> <br>
Chegou a hora de entender melhor o porquê de todos esses sentimentos!

      </div> 
      </div>
    </section>

    {{!-- <section class="section">
      <div class="form__card form__card--red ">
        <h4>Preencha seus dados e ganhe 10% de desconto!</h4>
          <div class="form__container">
            <form action="" method="POST">
              <label for="name">Nome: </label>
              <input type="text" name="name" class="form__form" required />
              <label for="email">Email: </label>
              <input type="email" name="email" class="form__form" required />
              <p>Autorizo o recebimento de comunicações por e-mail para oferta de produtos e serviços.</p>
              <br>
              <a href=""><button
                  {{!-- type="submit" --}}
                  class="btn--text--subscribe get--cupom"
                ><font size="4">Ganhar desconto</font></button></a>
            </form>
          </div>
          {{!-- <div class="cupom hidden">
            <h4>Copie e cole o cupom abaixo ao efetuar o pagamento e ganhe 10% de desconto.</h4>
            <h5>TODACIDADA10</h5>
            <p>Cupom válido até 01 de abril de 2022</p>
          </div> --}}
      </div>
    </section> --}}

    <section class="section">
      </div>
        <div class="description__course">
          <div class="description__course__feature">
              <h5 class="description__course__header">O QUE ESPERAR DO CURSO?</h5>
          </div>
          <div class="">
            <p>
              A Imersão da sobrecarga feminina no contexto doméstico acontecerá através de aulas assíncronas e rodas de interação com intuito de refletir sobre a carga mental e saúde mental das mulheres. 
            </p>
          </div>  
          <div class="">
              <p>
                Serão disponibilizadas videoaulas ministradas por psicólogas pesquisadoras especialistas da área. 
              </p>
          </div>
          <div class="description__course__feature">
              <p class="description__course__header"><font color="#fffff">Além disso, teremos dois encontros para interação das alunas com as professoras, sendo este um espaço para que as participantes possam interagir, conversar, debater, questionar e compartilhar sobre suas experiências, angústias e ideias para mudanças. </font></p>
          </div>
        </div>
        <div class="course">
    <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://hotmart.com/pt-br/marketplace/produtos/imersao-sobrecarga-feminina-no-contexto-domestico/W72614070V">INSCREVA-SE AGORA</a></h5>
        </div> 
  </div>
    </section>

  <br><br> <br>
    <section class="section">
    <div class="operations operations--purple">
          <div class="operations__tab-container">
        
            <button
                    type="submit"
                    class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                  >Para quem é o curso? </button>
          </div>
          <div
            class="operations__content operations__content--1 operations__content--active"
          >
          
            <p>
            Mulheres e/ou mães que dividem o ambiente doméstico com homens e mulheres interessadas em entender mais sobre a divisão sexual do trabalho e seus efeitos sobre elas.
            </p>  
            
          </div>
        </div>
        </section>
        <br><br>
  <section class="section">
    <div class="operations operations--orange">
          <div class="operations__tab-container">
          
            <button
                    type="submit"
                    class="btn operations__tab operations__tab--1 operations__tab--orange operations__tab--active"
                    data-tab="1"
                  >Quem planejou esse curso? </button>
          
          </div>
          <div
            class="operations__content operations__content--1 operations__content--active"
          >
          
            <p class="borderline"> Gabriela Toso
            
            </p> <br>
              <p>
Gabriela Toso é formada em Direito pela UEM (Universidade Estadual de Maringá) e, atualmente, cursa especialização em Comunicação Pública pela USP (Universidade de São Paulo). Já atuou em organizações internacionais e realizou intercâmbio acadêmico na Universidade de Pavia na Itália. Foi conselheira do CONJUVE (Conselho Nacional de Juventude do Brasil) e participou de pesquisas e grupos de estudos sobre Direito da Mulher e da Infância e Juventude. Gabriela é fundadora e presidente da Toda Cidadã. 

            </p>  <br>
            <p class="borderline">
              Maria Alice Centanin Bertho (@marialicebertho) 
              </p> <br>
              <p>
Maria Alice Centanin Bertho é Psicóloga Clínica e Mestre em Psicologia (Comportamento Social e Processos Cognitivos) pela UFSCar (Universidade Federal de São Carlos). Desenvolveu seu mestrado no Laboratório de Análise e Prevenção da Violência (LAPREV), com ênfase de pesquisa sobre as desigualdades de gênero no contexto familiar. Paralelamente também é membra da Toda Cidadã.

            </p> <br>
            <p class="borderline">
              Stéphani Pinho (@psistephanipinho)
              </p> <br>
              <p>
Stéphani Pinho é Psicóloga Clínica e Psicanalista. Tem formação em Saúde Mental e Manejo Clínico para o Atendimento à Mulheres em Situação de Violência e pós-graduação em Teoria Psicanalítica. Atualmente é pós-graduanda em Docência do Ensino Superior e paralelamente atua como psicóloga voluntária no Projeto Pro Preto Psi. Além disso, é organizadora do Clube de Leitura Feminista, mediadora do Grupo de Acolhimento Psicológico à Mulheres em Condição de Abortamentos e mediadora  do Grupo de Estudos em Teoria Psicanalítica. 

            </p>
          </div>
        </div>
        <br> <br>
        <div class="course">
    <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://hotmart.com/pt-br/marketplace/produtos/imersao-sobrecarga-feminina-no-contexto-domestico/W72614070V">INSCREVA-SE AGORA</a></h5>
        </div> 
  </div>
    </section>

  <br><br> <br>
  <section class="section">
    <div class="courses">
          <div class="courses__tab-container">
            <button
                    class="btn courses__tab courses__tab--1 courses__tab--active"
                    data-tab="1"
                  >Módulo 1</button>
            
            <button 
                    class="btn courses__tab courses__tab--2" 
                    data-tab="2">
              Módulo 2
            </button>
            <button 
                    class="btn courses__tab courses__tab--3" 
                    data-tab="3">
              Módulo 3
            </button>
            <button 
                    class="btn courses__tab courses__tab--4" 
                    data-tab="4">
              Módulo 4
            </button>
            <button 
                    class="btn courses__tab courses__tab--5" 
                    data-tab="5">
              Módulo 5
            </button>
            <button 
                    class="btn courses__tab courses__tab--6" 
                    data-tab="6">
              Módulo bônus
            </button>
          </div>
          <div
            class="courses__content courses__content--1 courses__content--active"
          >
          <div><h5 class="courses__header">
              Reconhecendo a história
            </h5>
           
              <p>
                <font color="#d9b1d6">
                <b>Facilitadora:</b> Maria Bertho (@marialicebertho)
              </font>
              </p>
            
            <p>
        <br>
        - Quais são os aspectos da nossa história e da nossa sociedade que nos levaram a viver situações desiguais em relação a homens e mulheres, especialmente aquelas relacionadas à carga mental. 
        <br>

            - A situação atual do Brasil: o que os dados nos dizem?
            <br>
            - O que é a divisão sexual do trabalho?
            <br>
            - Qual a história por trás dessa divisão sexual do trabalho e estrutura familiar? 

            </p></div>
          </div>
          <div
            class="courses__content courses__content--2"
          >
          <div>
          <h5 class="courses__header">
              Trabalho familiar é apenas o que é visto?
            </h5>
              <p>
                <font color="#d9b1d6">
               Facilitadora:</b> Maria Bertho (@marialicebertho)
              </font>
              
           <p>
            <br>
            
            - O que é a carga mental? <br>
            - Qual a relação entre a carga mental e o gênero?  <br>
            - O que acontece com a carga mental depois que os filhos chegam? <br>
            - Como saber com quem está a carga mental? <br>
            </p> </div>
         </div>
          
          <div
            class="courses__content courses__content--3"
          >
          <div>
          <h5 class="courses__header">
              O impacto da sobrecarga mental para a saúde mental das mulheres
            </h5>
              <p>
                <font color="#d9b1d6">
                 <b>Facilitadora:</b> Maria Bertho (@marialicebertho)
              </font>
              </p>
              <p>
<br>
              - Como a carga mental pode prejudicar a vida das mulheres? <br>
              - A cabeça que não para: como a saúde mental das mulheres é prejudicada pela carga mental? <br>
            </p>
            </div>
          </div>
          <div
            class="courses__content courses__content--4"
          >
          <div>
          <h5 class="courses__header">
              E a estrutura racista?
            </h5>
              <p>
                <font color="#d9b1d6">
                  <b>Facilitadora:</b> Stephani (@psistephanipinho)
              </font>
              </p>
          <p>
            <br>
            - A história do trabalho das mulheres pretas e o trabalho do cuidado: O que precisamos compreender? <br>
            - Sexismo e racismo: como as mulheres pretas experienciam a sobrecarga mental?<br>
            - Saúde mental e racismo: quais os debates necessários? <br>
            </p></div>
          
          </div>
          <div
            class="courses__content courses__content--5"
          >
          <div>
          <h5 class="courses__header">
              Encontros online
            </h5>
              <p>
<br>
              Ao final do curso teremos encontros online com o intuito de facilitar a conexão entre as alunas. Nossa proposta é que todas as participantes atuem como uma rede coletiva.<br> <br>
              Contaremos com a participação da Gabi Toso para conduzir a conversa entre as alunas e as psicólogas Maria Bertho e Stephani Pinho, especialistas em carga mental.
 <br> <br>
 Datas dos encontros: 19, 20 e 21.
            </p>
            </div>
          </div>
          <div
            class="courses__content courses__content--6"
          >
          <div>
          <p>
              Aula e roda de conversa sobre o livro: Saúde Mental, Gênero e Dispositivos: Cultura e Processos de Subjetivação, de Valeska Zanello.
            <p>

            </div>
          </div>
        </div> 

        <div class="courses--mobile">
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 1</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
                Reconhecendo a história
              </h5>
              <p>
                <font color="#d9b1d6">
                <b>Facilitadora:</b> Maria Bertho (@marialicebertho)
              </font>
              </p>
              
            <p >
            <br>
            - Quais são os aspectos da nossa história e da nossa sociedade que nos levaram a viver situações desiguais em relação a homens e mulheres, especialmente aquelas relacionadas à carga mental.
            <br>
            - A situação atual do Brasil: o que os dados nos dizem?
            <br>
            - O que é a divisão sexual do trabalho?
            <br>
            - Qual a história por trás dessa divisão sexual do trabalho e estrutura familiar? 
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 2</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Trabalho familiar é apenas o que é visto?
                </h5>
               
                <p>
                <font color="#d9b1d6">
                 <b>Facilitadora:</b> Maria Bertho (@marialicebertho)
              </font>
              </p>
              <p>
             
            <br>
            
            - O que é a carga mental? <br>
            - Qual a relação entre a carga mental e o gênero?  <br>
            - O que acontece com a carga mental depois que os filhos chegam? <br>
            - Como saber com quem está a carga mental? <br>
                </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 3</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              O impacto da sobrecarga mental para a saúde mental das mulheres
            </h5>
              <p>
                <font color="#d9b1d6">
                     <b>Facilitadora:</b> Maria Bertho (@marialicebertho)
              </font>
              </p>
              <p>
<br>
              
              - Como a carga mental pode prejudicar a vida das mulheres? <br>
              - A cabeça que não para: como a saúde mental das mulheres é prejudicada pela carga mental? <br>
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 4</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              E a estrutura racista?
            </h5>
            
              <p>
                <font color="#d9b1d6">
                  <b>Facilitadora:</b> Stephani (@psistephanipinho)
              </font>
              </p>
              
                  <p>
              <br>
           
            - A história do trabalho das mulheres pretas e o trabalho do cuidado: O que precisamos compreender? <br>
            - Sexismo e racismo: como as mulheres pretas experienciam a sobrecarga mental?<br>
            - Saúde mental e racismo: quais os debates necessários? <br>
            </p>
            </div>
          </div>
          <br> <br>

          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 5</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Encontros online

            </h5>
                  <p>
              <br>
           
            Ao final do curso teremos encontros online com o intuito de facilitar a conexão entre as alunas. Nossa proposta é que todas as participantes atuem como uma rede coletiva.<br> <br>
            Contaremos com a participação da Gabi Toso para conduzir a conversa entre as alunas e as psicólogas Maria Bertho e Stephani Pinho, especialistas em carga mental.<br> <br>
            Datas dos encontros: 19, 20 e 21. <br>
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo bônus</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <p>
              Aula e roda de conversa sobre o livro: Saúde Mental, Gênero e Dispositivos: Cultura e Processos de Subjetivação, de Valeska Zanello.
            <p>
          
            </div>
          </div>
          <br> <br>

        </div>
  </section>

  <section class="section">
    <div class="operations operations--orange">
          <div class="operations__tab-container">
          
            <button
                    type="submit"
                    class="btn operations__tab operations__tab--1 operations__tab--orange operations__tab--active"
                    data-tab="1"
                  >Quanto você vai investir? </button>
          
          </div>
          <div
            class="operations__content operations__content--1 operations__content--active"
          >
          
            <p>
            Se fosse para colocar na ponta do lápis o valor por hora de cada profissional do curso, seria:
            </p> 
              <p>
Aulas (2h) com a psicóloga Maria Bertho, Mestre em Psicologia 
com ênfase de pesquisa sobre as desigualdades de gênero no contexto familiar: R$259,00

            </p>  <br>
            <p>
              Aulas (2h) com a psicóloga Stephani Pinho, 
Psicanalista com formação em Saúde Mental: R$259,00
 
              </p> 
              <p>
Roda de conversa com participação da Gabi Toso, fundadora e presidente da Toda Cidadã: R$259,00

            </p> <br>
            <p>
              Total: R$777,00
            </p> <br>
            <p>
              Contudo, o objetivo da Toda Cidadã é tornar nossos cursos acessíveis para que o maior número de mulheres participe! Por isso, somente até o dia 18/07, estamos disponibilizando a Imersão da sobrecarga feminina no contexto doméstico por apenas 12 parcelas de R$ 19,66 ou R$197,00 à vista!
            </p>
            <br>
            <p>
              As vagas são limitadas e esse desconto de R$580,00 só vale até segunda-feira, dia 18/07
Inscreva-se já e garanta a sua vaga, vai ser incrível! 

            </p>
            <br>
            <p>Bolsas sociais: mães solos, mulheres pretas, pardas e indígenas (50% de desconto) - preencher formulário.</p>
          
          </div>
        </div>
        <br> <br>
        <div class="course">
    <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://hotmart.com/pt-br/marketplace/produtos/imersao-sobrecarga-feminina-no-contexto-domestico/W72614070V">INSCREVA-SE AGORA</a></h5>
        </div> 
  </div>
    </section>

  <section class="section">
    <div class="description__course">
      <div class="description__course__feature">
              <p class="description__course__header"><font color="#fffff">Como vou acessar o curso?
                <br>
              <font size="3">O conteúdo é 100% digital. O acesso será enviado ao seu e-mail assim que o pagamento for confirmado.</font> </font>
            </p>
      </div>
      <div class="">
            <p>
              Acesso
              <br>
              <font size="3">O conteúdo é 100% digital. O acesso será enviado ao seu e-mail assim que o pagamento for confirmado.</font>
            </p>
      </div>     
    </div>   
    <div class="course">
      {{!-- <a href="/"><button type="submit" class="btn--text btn--text--purple">Voltar para a página inicial</button></a> --}}
      <div class="course__feature course__feature--transparent">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        
        <h5 class="course__header">
          <img class="" type="image/pnj" src="img/diploma-icon.png" alt=""> <br>
          <font color="#7a387a">
            Ao final do curso a plataforma irá gerar seu certificado.</h5>
          </font>
      </div>
      <br> <br>
      <div class="course__feature course__feature--color course--icon">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <img class="" type="image/pnj" src="img/garantia-icon.png" alt="">
        <h5 class="course__header--icon">
        
          Você tem 7 dias para conhecer o conteúdo e pedir o seu reembolso, se acreditar que não é para você. 
      </div> 
      <br> <br>
      {{!-- <div class="course__feature course__feature--subscribe">
          <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/Q68651321L?bid=1648411817272&checkoutMode=10">INSCREVA-SE AGORA</a></h5>
        </div>  --}}
      <div class="course__feature course__feature--transparent">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <h5 class="course__header">
          <font color="#7a387a">
            ?????????
          </font>
      </div> 
        <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://hotmart.com/pt-br/marketplace/produtos/imersao-sobrecarga-feminina-no-contexto-domestico/W72614070V">Inscreva-se agora</a></h5>
        </div>  
        {{!-- <div class="course__feature course__feature--transparent">
      
        <h5 class="course__header">
          <font color="#7a387a">
            Ou, se preferir pode comprar somente a aula relativa à sua área de atuação, levando como bônus a aula introdutória sobre relações de Gênero e Direito.
          </font>
      </div>  --}}
      {{!-- <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/O68649383L">Inscreva-se agora para o curso da sua área de atuação</a></h5>
        </div>  --}}
    </div> 
  </section>


<footer class="footer">
      <div class="header__title">
        <a class="nav__link" href="/#section--1">
              <img class="toda--img--footer" type="image/pnj" src="img/logosecundaria.png" alt="">
             </a>
      </div>
        <!-- Keep in touch: -->
      <p class="footer__copyright">
        <a class="footer__link twitter-link" target="_blank" href="https://www.linkedin.com/company/toda-cidad%C3%A3/mycompany/">Linkedin |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://www.facebook.com/todacidada">Facebook |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://www.instagram.com/todacidada/">Instagram |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://twitter.com/todacidada">Twitter |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://youtube.com/channel/UCKfIdNKgdFBk4V4AYHtgLew">YouTube</a>
      </p>
    </footer>




