
  <section class="section" id="section--2">
    <div class="header__title">
      <img
        class="advocacia-curso"
        type="image/pnj"
        src="img/advocacia.png"
        alt="toda-cidada-logo"
      />
    </div>
  </section>


  <section class="section">
    <div class="course">
      {{!-- <a href="/"><button type="submit" class="btn--text btn--text--purple">Voltar para a página inicial</button></a> --}}
      <div class="course__feature course__feature--transparent">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <h5 class="course__header">
          <font color="#7a387a">
            Gostaria de entender a advocacia pela perspectiva do feminismo? <br>
          Acredita que o judiciário brasileiro precisa ser mais representativo?<br>
          Quer ter um olhar mais crítico sobre o ordenamento e as questões de gênero?<br>
          Gostaria de poder debater e construir o conhecimento com outras mulheres?</h5>
          </font>
      </div>
      <div class="course">
      <div class="course__feature course__feature--color">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <h5 class="course__header">
          Chegou a hora de aprender tudo isso! Esse curso é para você!
      </div> 
      </div>
    </section>

    <section class="section">
      <div class="form__card form__card--red ">
        <h4>Preencha seus dados e ganhe 10% de desconto!</h4>
          <div class="form__container">
            <form action="" method="POST">
              <label for="name">Nome: </label>
              <input type="text" name="name" class="form__form" required />
              <label for="email">Email: </label>
              <input type="email" name="email" class="form__form" required />
              <p>Autorizo o recebimento de comunicações por e-mail para oferta de produtos e serviços.</p>
              <br>
              <a href=""><button
                  {{!-- type="submit" --}}
                  class="btn--text--subscribe get--cupom"
                ><font size="4">Ganhar desconto</font></button></a>
            </form>
          </div>
          {{!-- <div class="cupom hidden">
            <h4>Copie e cole o cupom abaixo ao efetuar o pagamento e ganhe 10% de desconto.</h4>
            <h5>TODACIDADA10</h5>
            <p>Cupom válido até 01 de abril de 2022</p>
          </div> --}}
      </div>
    </section>

    <section class="section">
      </div>
        <div class="description__course">
          <div class="description__course__feature">
              <h5 class="description__course__header">O QUE ESPERAR DO CURSO?</h5>
          </div>
          <div class="">
            <p>
              O curso vai reunir profissionais do direito de diversas áreas para tratar de temas que atravessam questões de gênero, buscando proporcionar um olhar crítico sobre o ordenamento.
            </p>
          </div>  
          <div class="">
              <p>
                Através do olhar crítico sobre o ordenamento buscar compreender, por meio de discussões e debates, em que medida as questões de gênero e as consequentes discriminações moldam a forma como as leis são feitas e interpretadas, as decisões judiciais e a atuação das autoridades (tais como a polícia, o ministério público e o judiciário), e como isso impacta diretamente a vida de todas as mulheres.
              </p>
          </div>
          <div class="description__course__feature">
              <p class="description__course__header"><font color="#fffff">Situações que dizem respeito a gênero, como lei da alienação parental: analisaremos questões que dizem respeito a gênero no ordenamento jurídico brasileiro, como a lei da alienação parental, a criminalização da homotransfobia, inconstitucionalidade da tese da legítima defesa da honra, como a questão de gênero opera nas relações de trabalho, adoção e perda do poder familiar e tantos outros temas relevantes.</font></h5>
          </div>
        </div>
        <div class="course">
    <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/Q68651321L">INSCREVA-SE AGORA</a></h5>
        </div> 
  </div>
    </section>

  <br><br> <br>
    <section class="section">
    <div class="operations operations--purple">
          <div class="operations__tab-container">
        
            <button
                    type="submit"
                    class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                  >Para quem é o curso? </button>
          </div>
          <div
            class="operations__content operations__content--1 operations__content--active"
          >
          
            <p>
              - Para quem se incomoda com as desigualdades de gênero no ambiente jurídico;
            </p>  
            
            <p>  
              - Para quem gostaria de entender mais sobre como ter uma atuação feminista dentro do Direito;
            </p>
            
            <p>
              - Para quem gostaria de respaldar o conhecimento para que suas teses jurídicas tenham um olhar para as questões de gênero;
            </p>
          
            <p>  
              - Para quem quer entender quais ferramentas o Direito usa para oprimir mulheres;
            </p>
            
            <p>
              - Para quem quer entender como superar essas ferramentas dentro da atuação da advocacia, nas áreas de Penal e Processo Penal, Família, Infância e Juventude e Trabalho.
            </p>
          </div>
        </div>
        </section>
        <br><br>
  <section class="section">
    <div class="operations operations--orange">
          <div class="operations__tab-container">
          
            <button
                    type="submit"
                    class="btn operations__tab operations__tab--1 operations__tab--orange operations__tab--active"
                    data-tab="1"
                  >Quem planejou esse curso? </button>
          
          </div>
          <div
            class="operations__content operations__content--1 operations__content--active"
          >
          
            <p>
            O curso "Por Uma Advocacia Feminista" foi planejado pela advogada e professora Camila Ricci, voluntária na Toda Cidadã e coordenadora do Curso de Direito da FAG - Toledo.
            </p>  <br>
            <p>
              Visa tornar a prática do direito mais próxima às demandas de justiça de gênero, ao mesmo tempo em que propõe um olhar crítico ao ordenamento jurídico brasileiro na perspectiva feminista, apresentando soluções e caminhos práticos para operadores do Direito que busquem atuar em suas respectivas áreas para a construção de um mundo mais igualitário.
            </p>
          </div>
        </div>
        <br> <br>
        <div class="course">
    <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/Q68651321L">INSCREVA-SE AGORA</a></h5>
        </div> 
  </div>
    </section>

  <br><br> <br>
  <section class="section">
    <div class="courses">
          <div class="courses__tab-container">
            <button
                    class="btn courses__tab courses__tab--1 courses__tab--active"
                    data-tab="1"
                  >Módulo Introdutório</button>
            
            <button 
                    class="btn courses__tab courses__tab--2" 
                    data-tab="2">
              Módulo 1
            </button>
            <button 
                    class="btn courses__tab courses__tab--3" 
                    data-tab="3">
              Módulo 2
            </button>
            <button 
                    class="btn courses__tab courses__tab--4" 
                    data-tab="4">
              Módulo 3
            </button>
            <button 
                    class="btn courses__tab courses__tab--5" 
                    data-tab="5">
              Módulo 4
            </button>
            <button 
                    class="btn courses__tab courses__tab--6" 
                    data-tab="6">
              Módulo 5
            </button>
          </div>
          <div
            class="courses__content courses__content--1 courses__content--active"
          >
          <div><h5 class="courses__header">
              Protocolo para Julgamento com perspectiva de gênero (Introdução)
            </h5>
            <p>
            <b>Professora:</b> Fernanda Pacheco Amorim
            </p>
              <small>
                <font color="#d9b1d6">
                Advogada Criminalista. Doutoranda em Direito na Universidade Federal do Paraná. Mestra em Ciências Jurídicas pela Universidade do Vale do Itajaí. Pós-Graduada em Direito Penal e Processo Penal pela Academia Brasileira de Direito Constitucional. Membra da Comissão da Mulher e da Comissão de Direito Digital do Instituto dos Advogados Brasileiros. Graduada em Direito pela Universidade do Vale do Itajaí (2015). Autora dos livros “Respeita as Mina: inteligência artificial e violência contra a mulher” e “Pai, te amo sempre”. Coapresentadora do podcast Mulherão da Porra.
              </font>
              </small>
              <p>
            <br>
            - Protocolo Conselho Nacional de Justiça - Brasil; <br>
            - Protocolo para julgamento com perspectiva de gênero; <br>
            - Estereótipos de gênero e o mito da neutralidade; <br>
            - Teoria Feminista, Feminismos e Movimento Feminista
            </p></div>
          {{!-- <div><img class="" type="image/pnj" src="img/fernanda-pacheco.png" alt=""></div> --}}
          </div>
          <div
            class="courses__content courses__content--2"
          >
          <div>
          <h5 class="courses__header">
              Constitucionalismo feminista
            </h5>
            <p>
            <b>Professora:</b> Melina Fachin
            </p>
              <small>
                <font color="#d9b1d6">
                Professora da Faculdade de Direito da Universidade Federal do Paraná. Fez estágio de Pós-doutoramento pela Universidade de Coimbra, no Instituto de Direitos Humanos e Democracia (2019/2020). Doutora em Direito Constitucional, com ênfase em Direitos Humanos, pela Pontifícia Universidade Católica de São Paulo (PUC-SP.) Visiting researcher da Harvard Law School (2011). Mestre em Direitos Humanos pela Pontifícia Universidade Católica de São Paulo (PUC-SP). Bacharel em Direito pela Universidade Federal do Paraná (UFPR). Autora de diversas obras e artigos na seara do Direito Constitucional e dos Direitos Humanos. Membro do Instituto dos Advogados Brasileiros/IAB, do Instituto dos Advogados do Paraná/IAP e da Ordem dos Advogados do Brasil Seção Paraná - OAB/PR. Advogada-sócia do Bureau Fachin Advogados Associados.
              </font>
              </small>
              <p>
            <br>
            - Mulher e Poder; <br>
            - Gênero e Constitucionalismo; <br>
            - (Des)igualdade de gênero e noção de cidadania; <br>
            - Democracia e (des)igualdade de gênero; <br>
            - Políticas Públicas e perspectiva de gênero; <br>
            - Poder Judiciário e as mulheres; <br>
            - Devido processo com enfoque de gênero; <br>
            - Direito à educação das mulheres; <br>
            - Trabalhadoras domésticas: o retrato da desigualdade de gênero, raça e classe.
            </p> </div>
            {{!-- <div><img class="" type="image/pnj" src="img/melina.png" alt=""></div> --}}
         </div>
          
          <div
            class="courses__content courses__content--3"
          >
          <div>
          <h5 class="courses__header">
              Direito Penal e Processo Penal Feminista
            </h5>
            <p>
            <b>Professora:</b> Thaise Mattar Assad
            </p>
            
              <small>
                <font color="#d9b1d6">
                Thaise Mattar Assad é advogada criminalista, mestre em ciências criminais pela PUC-RS, vice-presidente da Associação Paranaense dos Advogados Criminalistas (APACRIMI - ABRACRIM-PR), Conselheira Estadual da OAB/PR e Conselheira do Instituto Brasileiro de Direito Penal Econômico - IBDPE. Também é professora da FAE Centro Universitário.
              </font>
              </small>
              <p>
            <br>
              - A proteção da mulher no Direito Penal Brasileiro; <br>
              - Quem é a MULHER “protegida” pelo Direito Penal? <br>
              - Superação da mulher como posse do homem na economia do Direito Penal brasileiro: <br>
              - Da legítima defesa da honra à qualificadora do feminicídio; <br>
              - Palavra da vítima e arquitetura probatória nos crimes relacionados a gênero; <br>
              – ADPF 779 e a discussão sobre a inconstitucionalidade da tese da “legítima defesa da honra”; <br>
              - Lei Maria da Penha: marco jurídico na proteção penal de mulheres nos espaços de violência familiar, doméstica e no âmbito das relações de afeto; <br>
              - Alterações no Código Penal e Código de Processo Penal: reconhecimento de uma violência doméstica e familiar, novos bens jurídicos, novos tipos penais incriminadores, e rechaço a benefícios despenalizantes para agressores; <br>
              - Controle dos corpos sexados como femininos: criminalização primária do aborto; <br>
              - "Por que uma criminologia feminista para um direito penal que persegue, predominantemente, homens?"
            </p>
            </div>
            {{!-- <div><img class="" type="image/pnj" src="img/thaise.png" alt=""></div> --}}
          </div>
          <div
            class="courses__content courses__content--4"
          >
          <div>
          <h5 class="courses__header">
              Direito da Infância e da Juventude sobre as lentes do feminismo
            </h5>
            <p>
            <b>Professora:</b> Larissa Alves e Heloise Cella
            </p>
            
              <small>
                <font color="#d9b1d6">
                  Larissa Alves é bacharela em direito e jornalista. Filha adotiva e pesquisadora sobre adoção, é uma das idealizadoras da ADOTIVA (Associação Brasileira de pessoas Adotadas) e coordenadora da página Olhar Adotivo.
                  <br>
                  <br>
                Heloise Rosin Cella, advogada com ênfase na área de direito das famílias e direito da infância e juventude, pós graduada em direito penal e processual penal pela Universidade Estadual de Londrina (UEL). Bacharela em direito pela Universidade Estadual de Maringá (UEM).  
              </font>
              </small>
              <p>
            <br>
            - Perda do poder familiar e argumentos relacionados a estereótipo de gênero; <br>
            - Adoção e questões de gênero;<br>
            - Atos infracionais e a questão de gênero (crianças filhas de adolescentes em cumprimento de medida socioeducativa)
            </p></div>
            {{!-- <div><img class="" type="image/pnj" src="img/larissa-helo.png" alt=""></div> --}}
          
          </div>
          <div
            class="courses__content courses__content--5"
          >
          <div>
          <h5 class="courses__header">
              Direito das Famílias sobre as lentes do feminismo
            </h5>
          <p>
            <b>Professora:</b> Daiana Allessi Nicoletti Alves
            </p>
            
              <small>
                <font color="#d9b1d6">
                Advogada Familiarista. Pesquisadora nas temáticas de gênero, feminismos e representatividade feminina na política. Especialista em Direito Aplicado e em Direito Público e Mestra em Direitos Humanos e Políticas Públicas pela PUC/PR. Membro da Comissão das Mulheres Advogadas e da Comissão de Defesa dos Direitos Humanos da OAB/PR.
              </font>
              </small>
              <p>
            <br>
            - Como as opressões de gênero operam na estrutura familiar: que tipo de família é protegida pelo Direito?; <br>
            - Pensão alimentícia, guarda;<br>
            - Alienação parental e estereótipos de gênero;<br>
            - Violência Obstétrica
            </p>
            </div>
            {{!-- <div><img class="" type="image/pnj" src="img/daiana.png" alt=""></div> --}}
          </div>
          <div
            class="courses__content courses__content--6"
          >
          <div><h5 class="courses__header">
              Direito Trabalhista sob as lentes do feminismo
            </h5>
          <p>
            <b>Professora:</b> Ana Gabriela de Melo Primon
            </p>
            
              <small>
                <font color="#d9b1d6">
                Graduada pela Faculdade de Direito de Ribeirão Preto da Universidade de São Paulo em 2013.  
                Especialista em Gestão da Diversidade nas Organizações pela PUC-SP. 
                Especialista em Gestão de Pessoas e Compliance Trabalhista pela Fundação Getúlio Vargas. 
                Sócia do Granadeiro Guimarães Advogados, onde atua com processos judiciais estratégicos e é gestora de comunicação. 
                Autora de diversos artigos em matéria de Direito do Trabalho, Compliance Trabalhista e Diversidade no Mercado de Trabalho
              </font>
              </small>
              <p>
            <br>
            - Como as opressões de gênero operam nas relações de trabalho;<br>
            - Por que ainda discutimos sobre como conciliar maternidade e carreira?<br>
            - Assédio sexual e assédio moral como violências relacionadas ao gênero
            </p></div>
            {{!-- <div><img class="" type="image/pnj" src="img/ana-gabriela.png" alt=""></div> --}}
          
          </div>
        </div> 

        <div class="courses--mobile">
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo Introdutório</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
                Protocolo para Julgamento com perspectiva de gênero (Introdução)
              </h5>
              <p>
            <b>Professora:</b> Fernanda Pacheco Amorim
            </p>
              <small>
                <font color="#d9b1d6">
                Advogada Criminalista. Doutoranda em Direito na Universidade Federal do Paraná. Mestra em Ciências Jurídicas pela Universidade do Vale do Itajaí. Pós-Graduada em Direito Penal e Processo Penal pela Academia Brasileira de Direito Constitucional. Membra da Comissão da Mulher e da Comissão de Direito Digital do Instituto dos Advogados Brasileiros. Graduada em Direito pela Universidade do Vale do Itajaí (2015). Autora dos livros “Respeita as Mina: inteligência artificial e violência contra a mulher” e “Pai, te amo sempre”. Coapresentadora do podcast Mulherão da Porra.
              </font>
              </small>
              <p>
            <br>
            - Protocolo Conselho Nacional de Justiça - Brasil; <br>
            - Protocolo para julgamento com perspectiva de gênero; <br>
            - Estereótipos de gênero e o mito da neutralidade; <br>
            - Teoria Feminista, Feminismos e Movimento Feminista
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 1</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Constitucionalismo feminista
                </h5>
                <p>
                <b>Professora:</b> Melina Fachin
                </p>
                <small>
                <font color="#d9b1d6">
                Professora da Faculdade de Direito da Universidade Federal do Paraná. Fez estágio de Pós-doutoramento pela Universidade de Coimbra, no Instituto de Direitos Humanos e Democracia (2019/2020). Doutora em Direito Constitucional, com ênfase em Direitos Humanos, pela Pontifícia Universidade Católica de São Paulo (PUC-SP.) Visiting researcher da Harvard Law School (2011). Mestre em Direitos Humanos pela Pontifícia Universidade Católica de São Paulo (PUC-SP). Bacharel em Direito pela Universidade Federal do Paraná (UFPR). Autora de diversas obras e artigos na seara do Direito Constitucional e dos Direitos Humanos. Membro do Instituto dos Advogados Brasileiros/IAB, do Instituto dos Advogados do Paraná/IAP e da Ordem dos Advogados do Brasil Seção Paraná - OAB/PR. Advogada-sócia do Bureau Fachin Advogados Associados.
              </font>
              </small>
              <p>
                <br>
                - Mulher e Poder; <br>
                - Gênero e Constitucionalismo; <br>
                - (Des)igualdade de gênero e noção de cidadania; <br>
                - Democracia e (des)igualdade de gênero; <br>
                - Políticas Públicas e perspectiva de gênero; <br>
                - Poder Judiciário e as mulheres; <br>
                - Devido processo com enfoque de gênero; <br>
                - Direito à educação das mulheres; <br>
                - Trabalhadoras domésticas: o retrato da desigualdade de gênero, raça e classe.
                </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 2</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Direito Penal e Processo Penal Feminista
            </h5>
            <p>
            <b>Professora:</b> Thaise Mattar Assad
            </p>
            
              <small>
                <font color="#d9b1d6">
                Thaise Mattar Assad é advogada criminalista, mestre em ciências criminais pela PUC-RS, vice-presidente da Associação Paranaense dos Advogados Criminalistas (APACRIMI - ABRACRIM-PR), Conselheira Estadual da OAB/PR e Conselheira do Instituto Brasileiro de Direito Penal Econômico - IBDPE. Também é professora da FAE Centro Universitário.
              </font>
              </small>
              <p>
            <br>
              - A proteção da mulher no Direito Penal Brasileiro; <br>
              - Quem é a MULHER “protegida” pelo Direito Penal? <br>
              - Superação da mulher como posse do homem na economia do Direito Penal brasileiro: <br>
              - Da legítima defesa da honra à qualificadora do feminicídio; <br>
              - Palavra da vítima e arquitetura probatória nos crimes relacionados a gênero; <br>
              – ADPF 779 e a discussão sobre a inconstitucionalidade da tese da “legítima defesa da honra”; <br>
              - Lei Maria da Penha: marco jurídico na proteção penal de mulheres nos espaços de violência familiar, doméstica e no âmbito das relações de afeto; <br>
              - Alterações no Código Penal e Código de Processo Penal: reconhecimento de uma violência doméstica e familiar, novos bens jurídicos, novos tipos penais incriminadores, e rechaço a benefícios despenalizantes para agressores; <br>
              - Controle dos corpos sexados como femininos: criminalização primária do aborto; <br>
              - "Por que uma criminologia feminista para um direito penal que persegue, predominantemente, homens?"
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 3</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Direito da Infância e da Juventude sobre as lentes do feminismo
            </h5>
            <p>
            <b>Professora:</b> Larissa Alves e Heloise Cella
            </p>
            
              <small>
                <font color="#d9b1d6">
                  Larissa Alves é bacharela em direito e jornalista. Filha adotiva e pesquisadora sobre adoção, é uma das idealizadoras da ADOTIVA (Associação Brasileira de pessoas Adotadas) e coordenadora da página Olhar Adotivo.
                  <br>
                  <br>
                Heloise Rosin Cella, advogada com ênfase na área de direito das famílias e direito da infância e juventude, pós graduada em direito penal e processual penal pela Universidade Estadual de Londrina (UEL). Bacharela em direito pela Universidade Estadual de Maringá (UEM).  
              </font>
              </small>
              <p>
            <br>
            - Perda do poder familiar e argumentos relacionados a estereótipo de gênero; <br>
            - Adoção e questões de gênero;<br>
            - Atos infracionais e a questão de gênero (crianças filhas de adolescentes em cumprimento de medida socioeducativa)
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 4</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Direito das Famílias sobre as lentes do feminismo
            </h5>
          <p>
            <b>Professora:</b> Daiana Allessi Nicoletti Alves
            </p>
            
              <small>
                <font color="#d9b1d6">
                Advogada Familiarista. Pesquisadora nas temáticas de gênero, feminismos e representatividade feminina na política. Especialista em Direito Aplicado e em Direito Público e Mestra em Direitos Humanos e Políticas Públicas pela PUC/PR. Membro da Comissão das Mulheres Advogadas e da Comissão de Defesa dos Direitos Humanos da OAB/PR.
              </font>
              </small>
              <p>
            <br>
            - Como as opressões de gênero operam na estrutura familiar: que tipo de família é protegida pelo Direito?; <br>
            - Pensão alimentícia, guarda;<br>
            - Alienação parental e estereótipos de gênero;<br>
            - Violência Obstétrica
            </p>
            </div>
          </div>
          <br> <br>
          <div class="operations operations--purple">
            <div class="operations__tab-container">
            
              <button
                      type="submit"
                      class="btn operations__tab operations__tab--1 operations__tab--purple operations__tab--active"
                      data-tab="1"
                    >Módulo 5</button>
            
            </div>
            <div
              class="operations__content operations__content--1 operations__content--active"
            >
                <h5 class="courses__header">
              Direito Trabalhista sob as lentes do feminismo
            </h5>
          <p>
            <b>Professora:</b> Ana Gabriela de Melo Primon
            </p>
            
              <small>
                <font color="#d9b1d6">
                Graduada pela Faculdade de Direito de Ribeirão Preto da Universidade de São Paulo em 2013.  
                Especialista em Gestão da Diversidade nas Organizações pela PUC-SP. 
                Especialista em Gestão de Pessoas e Compliance Trabalhista pela Fundação Getúlio Vargas. 
                Sócia do Granadeiro Guimarães Advogados, onde atua com processos judiciais estratégicos e é gestora de comunicação. 
                Autora de diversos artigos em matéria de Direito do Trabalho, Compliance Trabalhista e Diversidade no Mercado de Trabalho
              </font>
              </small>
              <p>
            <br>
            - Como as opressões de gênero operam nas relações de trabalho;<br>
            - Por que ainda discutimos sobre como conciliar maternidade e carreira?<br>
            - Assédio sexual e assédio moral como violências relacionadas ao gênero
            </p>
            </div>
          </div>
        </div>
  </section>

  <section class="section">
    <div class="description__course">
      <div class="description__course__feature">
              <p class="description__course__header"><font color="#fffff">Para quem
                <br>
              <font size="3">Profissionais e estudantes de Direito, ou pessoas que se interessem pelo tema de Gênero e Direito.</font> </font>
            </p>
      </div>
      <div class="">
            <p>
              Acesso
              <br>
              <font size="3">Aulas síncronas, no contraturno, e gravação disponibilizada por um ano.</font>
            </p>
      </div>     
    </div>   
    <div class="course">
      {{!-- <a href="/"><button type="submit" class="btn--text btn--text--purple">Voltar para a página inicial</button></a> --}}
      <div class="course__feature course__feature--transparent">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        
        <h5 class="course__header">
          <img class="" type="image/pnj" src="img/diploma-icon.png" alt=""> <br>
          <font color="#7a387a">
            Ao final do curso a plataforma irá gerar seu certificado.</h5>
          </font>
      </div>
      <br> <br>
      <div class="course__feature course__feature--color course--icon">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <img class="" type="image/pnj" src="img/garantia-icon.png" alt="">
        <h5 class="course__header--icon">
        
          Se você não gostar do nosso curso, pode solicitar a devolução do dinheiro em até 7 dias.
      </div> 
      <br> <br>
      {{!-- <div class="course__feature course__feature--subscribe">
          <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/Q68651321L?bid=1648411817272&checkoutMode=10">INSCREVA-SE AGORA</a></h5>
        </div>  --}}
      <div class="course__feature course__feature--transparent">
        {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
        <h5 class="course__header">
          <font color="#7a387a">
            Você pode comprar o curso completo, tendo acesso às aulas de professores renomados sobre as relações de Direito e Gênero no geral, bem como sobre as áreas de Constitucional, Penal, Família, Trabalho e Infância e Juventude.
          </font>
      </div> 
        <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/Q68651321L">Inscreva-se agora</a></h5>
        </div>  
        {{!-- <div class="course__feature course__feature--transparent">
      
        <h5 class="course__header">
          <font color="#7a387a">
            Ou, se preferir pode comprar somente a aula relativa à sua área de atuação, levando como bônus a aula introdutória sobre relações de Gênero e Direito.
          </font>
      </div>  --}}
      {{!-- <div class="course__feature course__feature--subscribe">
          
            <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://pay.hotmart.com/O68649383L">Inscreva-se agora para o curso da sua área de atuação</a></h5>
        </div>  --}}
    </div> 
  </section>


<footer class="footer">
      <div class="header__title">
        <a class="nav__link" href="/#section--1">
              <img class="toda--img--footer" type="image/pnj" src="img/logosecundaria.png" alt="">
             </a>
      </div>
        <!-- Keep in touch: -->
      <p class="footer__copyright">
        <a class="footer__link twitter-link" target="_blank" href="https://www.linkedin.com/company/toda-cidad%C3%A3/mycompany/">Linkedin |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://www.facebook.com/todacidada">Facebook |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://www.instagram.com/todacidada/">Instagram |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://twitter.com/todacidada">Twitter |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://youtube.com/channel/UCKfIdNKgdFBk4V4AYHtgLew">YouTube</a>
      </p>
    </footer>
