<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Toda Cidadã</h1>
  <p class="lead">Descricão do projeto</p>
  <hr class="my-4" />
  <p>Bla bla bla bla.</p>
</div>
<hr />

<div class="slider">
  
  <div class="slide">
    <div class="testimonial-container">
      <div class="row">
        <div class="col">
          <h5 class="testimonial__header">Escrita Criativa</h5>
          <p class="testimonial__text">
              Texto sobre o curso texto sobre o curso texto sobre o curso.
              Texto sobre o curso texto sobre o curso texto sobre o curso texto sobre o curso.
          </p>
          <a class="btn btn-outline-dark btn-sm btn-margin" href="/users/courses">Ver todos os cursos</a>
          
        </div>
        <div class="col">
          <address class="testimonial__author">
          <img src="/Public/img/clean.jpg" alt="" class="testimonial__photo" />
            {{!-- <h6 class="testimonial__name">Nome</h6>
            <p class="testimonial__location">Local</p> --}}
        </address>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="testimonial-container">
      <div class="row">
        <div class="col">
          <h5 class="testimonial__header">Nome do curso 2</h5>
          <p class="testimonial__text">
              Texto sobre o curso texto sobre o curso texto sobre o curso.
              Texto sobre o curso texto sobre o curso texto sobre o curso texto sobre o curso.
          </p>
          <a class="btn btn-outline-dark btn-sm btn-margin" href="/users/courses">Ver todos os cursos</a>
        </div>
        <div class="col">
          <address class="testimonial__author">
          <img src="/Public/img/clean.jpg" alt="" class="testimonial__photo" />
            {{!-- <h6 class="testimonial__name">Nome</h6>
            <p class="testimonial__location">Local</p> --}}
        </address>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="testimonial-container">
      <div class="row">
        <div class="col">
          <h5 class="testimonial__header">Nome do curso 3</h5>
          <p class="testimonial__text">
              Texto sobre o curso texto sobre o curso texto sobre o curso.
              Texto sobre o curso texto sobre o curso texto sobre o curso texto sobre o curso texto sobre o curso texto sobre o curso texto sobre o curso.
              Texto sobre o curso texto sobre o curso.
          </p>
          <a class="btn btn-outline-dark btn-sm btn-margin" href="/users/courses" >Ver todos os cursos</a>
        </div>
        <div class="col">
          <address class="testimonial__author">
          <img src="/Public/img/clean.jpg" alt="" class="testimonial__photo" />
            {{!-- <h6 class="testimonial__name">Nome</h6>
            <p class="testimonial__location">Local</p> --}}
        </address>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
  </div>

  <button class="slider__btn slider__btn--left">&larr;</button>
  <button class="slider__btn slider__btn--right">&rarr;</button>
  <div class="dots"></div>
</div>


{{#each posts}}
  <div class="card mt-2 border-light">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>

      <p>{{description}}</p>
      <a href="/post/{{slug}}">
        <button class="btn btn-dark">Ler mais</button></a>

     <hr>
      <h6 class="card-subtitle mb-2 text-muted">Categoia: {{category.name}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Publicado em: {{category.name}}
    </div>
  </div>
{{else}}
  <h5>No post</h5>
{{/each}}


<div>
  <a href="/alltheposts"><button class="btn btn-success mt-4">Ver todas as
    postagens</button></a>
  <br>
  <br>
</div>