{{#each errors}}
  <div class="alert alert-danger">
    {{text}}
  </div>
{{else}}
{{/each}}

{{!-- <h3>{{course.name}} </h3> --}}
<br />
<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      {{!-- <input type="hidden" name="slug" value="{{course._slug}}" /> --}}
      <label for="course" class="form-select">Curso: </label>
      <select name="course">
        {{#each courses}}
          <option value="{{_id}}">{{name}}</option>
        {{else}}
          <option value="0">Nenhuma categoria registered</option>
        {{/each}}
      </select>
      <br />
      <label for="name">Nome: </label>
      <input type="text" name="name" class="form-control" required />
      <label for="email">Email: </label>
      <input type="email" name="email" class="form-control" required />
      <a href=""><button
          type="submit"
          class="btn btn-success mt-4"
        >Inscrever-se</button></a>
    </form>
  </div>
</div>