<h4>Todos os cursos: </h4>
<br />
{{#each courses}}
  {{!-- <a href="/courses/{{slug}}"><h5>{{name}}</h5></a> --}}
  <div class="card mt-4">
    <div class="card-body">
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <a class="btn btn-dark btn-sm" href="/courses/{{slug}}/">Saiba mais</a>
    </div>
  </div>
{{else}}
{{/each}}

<div>
  <a href="/"><button class="btn btn-success mt-4">Voltar para a página inicial</button></a>
  <br />
  <br />
</div>

{{!-- <h4>Todos os cursos: </h4>
<br />
{{#each courses}}

  <div class="card mt-4">
    <div class="card-body">
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <a class="btn btn-dark btn-sm" href="/courses/{{slug}}">Inscreva-se agora!</a>
    </div>
  </div>
{{else}}
{{/each}}

<div>
  <a href="/"><button class="btn btn-success mt-4">Voltar para a página inicial</button></a>
  <br />
  <br />
</div> --}}